[env]
CARGO_MAKE_DOCS_README_FILE = "README.md"
CARGO_MAKE_DOCS_ROOT_FOLDER = "."
CARGO_MAKE_CI = true
CARGO_MAKE_PROJECT_NAME = "metrolib"
CARGO_MAKE_PROJECT_VERSION = "0.1.0"
CARGO_MAKE_BINARY_EXECUTABLE_NAME = "metropolis"
CARGO_MAKE_RUN_CHECK_FORMAT = true
CARGO_MAKE_RUN_CLIPPY = true
CARGO_MAKE_RUN_TOML_FORMAT = true
CARKO_MAKE_BUILD_EXAMPLES = true
CARGO_MAKE_BUILD_BENCH = true
CARGO_MAKE_RUN_BENCH = true
CARGO_MAKE_CHECK_OUTDATED = true
CARGO_MAKE_CRATE_CURRENT_WORKSPACE_MEMBER = ""

[tasks.dev-test-flow]
dependencies = [
  "format-flow",
  "format-toml-conditioned-flow",
  "pre-build",
  "clippy-ci-flow",
  "build",
  "post-build",
  "test-flow",
]

[tasks.format]
toolchain = "nightly"

[tasks.test]
args = [
  "test",
  "--workspace",
  "@@remove-empty(CARGO_MAKE_CARGO_VERBOSE_FLAGS)",
  "@@split(CARGO_MAKE_CARGO_BUILD_TEST_FLAGS, )",
]

[tasks.setup-release-build-env-vars]
env.CARGO_MAKE_BINARY_RELEASE_ENV_INSTALL_MUSL = false

[tasks.build-release-for-target-base]
args = ["build", "--release", "--target", "${CARGO_MAKE_RELEASE_FLOW_TARGET}"]

[tasks.zip-release-ci-flow]
dependencies = [
  "print-env-flow",
  "clean",
  "setup-release-build-env",
  "build-release-for-binary-upload",
  "docs-flow",
  "schemas-flow",
  "zip-release-binary-for-target",
]

[tasks.zip-release-binary-for-target]
description = "Zips up the release binary, docs, README, and license(s)"
condition = { env_set = [
  "CARGO_MAKE_RELEASE_FLOW_TARGET",
  "CARGO_MAKE_PROJECT_NAME",
  "CARGO_MAKE_PROJECT_VERSION",
  "CARGO_MAKE_BINARY_EXECUTABLE_NAME",
], env_true = [
  "CARGO_MAKE_CI",
] }
env.OUTPUT_NAME = "${CARGO_MAKE_PROJECT_NAME}-v${CARGO_MAKE_PROJECT_VERSION}-${CARGO_MAKE_RELEASE_FLOW_TARGET}"
env.TARGET_RELEASE_DIRECTORY = "target/${CARGO_MAKE_RELEASE_FLOW_TARGET}/release"
script = '''
#!@duckscript
executable_file = set ${CARGO_MAKE_BINARY_EXECUTABLE_NAME}
additional_executable_file = set "${CARGO_MAKE_ADDITIONAL_BINARY_EXECUTABLE_NAME}"
additional_executable_file_len = length ${additional_executable_file}
additional_executable_file_defined = set true
if eq ${additional_executable_file_len} 0
    additional_executable_file_defined = set false
end
if is_windows
    executable_file = set "${executable_file}.exe"
    additional_executable_file = set "${additional_executable_file}.exe"
end

rm -r ${OUTPUT_NAME}
mkdir ${OUTPUT_NAME}

cp ${TARGET_RELEASE_DIRECTORY}/${executable_file} ${OUTPUT_NAME}/${executable_file}
if ${additional_executable_file_defined}
    if is_path_exists ${TARGET_RELEASE_DIRECTORY}/${additional_executable_file}
        cp ${TARGET_RELEASE_DIRECTORY}/${additional_executable_file} ${OUTPUT_NAME}/${additional_executable_file}
    end
end
cp ./README.md ${OUTPUT_NAME}/README.md
glob_cp ./LICENSE* ${OUTPUT_NAME}/
cp ./docs/ ${OUTPUT_NAME}/
cp ./examples/ ${OUTPUT_NAME}/
cp ./schemas/ ${OUTPUT_NAME}/

ls -l ${OUTPUT_NAME}/

if is_windows
    exec --fail-on-error powershell Compress-Archive -Path ${OUTPUT_NAME}/* -DestinationPath ${OUTPUT_NAME}.zip
else
    exec --fail-on-error zip -r ${OUTPUT_NAME}.zip ${OUTPUT_NAME}
end

rm -r ${OUTPUT_NAME}
'''

[tasks.schemas-flow]
description = "Generate I/O schemas (with human-readable versions)."
category = "Documentation"
dependencies = ["schemas", "human-schemas"]

[tasks.schemas]
description = "Generate I/O schemas."
category = "Documentation"
install_crate = false
toolchain = "${CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN}"
command = "cargo"
args = ["run", "--release", "--bin", "generate_schema", "./schemas"]

[tasks.human-schemas]
description = "Generate I/O schemas."
category = "Documentation"
dependencies = ["install-python-package"]
command = "python3"
args = ["python/generate_schemas.py"]

[tasks.install-python-package]
description = "Installs Python executable"
category = "Tools"
install_script = '''
pip3 install json_schema_for_humans
'''

[tasks.build-flow]
dependencies = [
  "init-build-flow",
  "pre-clean",
  "clean-apidocs",
  "clean",
  "post-clean",
  "format-flow",
  "format-toml-conditioned-flow",
  "pre-build",
  "check-format-ci-flow",
  "clippy-ci-flow",
  "build",
  "post-build",
  "test-flow",
  "examples-ci-flow",
  "bench-ci-flow",
  "pre-verify-project",
  "verify-project",
  "post-verify-project",
  "pre-audit",
  "audit",
  "post-audit",
  "outdated-flow",
  "docs-flow",
  "schemas-flow",
  "end-build-flow",
]
