[env]
CARGO_MAKE_DOCS_README_FILE = "README.md"
CARGO_MAKE_DOCS_ROOT_FOLDER = "."
CARGO_MAKE_CI = true
CARGO_MAKE_CARGO_VERBOSE_FLAGS = ""
CARGO_MAKE_CARGO_BUILD_TEST_FLAGS = ""
CARGO_MAKE_PROJECT_NAME = "metropolis"
CARGO_MAKE_PROJECT_VERSION = "1.0.0-5"
CARGO_MAKE_BINARY_EXECUTABLE_NAMES = "metropolis_cli routing_cli"
CARGO_MAKE_RUN_CHECK_FORMAT = true
CARGO_MAKE_RUN_TOML_FORMAT = true
CARKO_MAKE_BUILD_EXAMPLES = true
CARGO_MAKE_BUILD_BENCH = true
CARGO_MAKE_RUN_BENCH = true
CARGO_MAKE_CHECK_OUTDATED = true
CARGO_MAKE_CRATE_CURRENT_WORKSPACE_MEMBER = ""

[tasks.dev-test-flow]
dependencies = [
  "format-flow",
  "format-toml-conditioned-flow",
  "pre-build",
  "clippy-flow",
  "build",
  "post-build",
  "test-flow",
  "test-examples",
]

[tasks.test]
args = [
  "test",
  "--workspace",
  "@@remove-empty(CARGO_MAKE_CARGO_VERBOSE_FLAGS)",
  "@@split(CARGO_MAKE_CARGO_BUILD_TEST_FLAGS, )",
]

[tasks.setup-release-build-env-vars]
env.CARGO_MAKE_BINARY_RELEASE_ENV_INSTALL_MUSL = false

[tasks.build-release-for-target-base]
args = [
  "build",
  "--release",
  "--workspace",
  "--target",
  "${CARGO_MAKE_RELEASE_FLOW_TARGET}",
]

[tasks.book-flow]
description = "Generate book."
category = "Documentation"
install_crate = false
toolchain = "${CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN}"
command = "mdbook"
args = ["build", "book/", "--dest-dir", "book/book"]

[tasks.zip-release-ci-flow]
dependencies = [
  "print-env-flow",
  "clean",
  "setup-release-build-env",
  "build-release-for-binary-upload",
  # "docs-flow",
  # "book-flow",
  "zip-release-binary-for-target",
]

[tasks.zip-release-binary-for-target]
description = "Zips up the release binary, docs, README, CHANGELOG, and license(s)"
condition = { env_set = [
  "CARGO_MAKE_RELEASE_FLOW_TARGET",
  "CARGO_MAKE_PROJECT_NAME",
  "CARGO_MAKE_PROJECT_VERSION",
  "CARGO_MAKE_BINARY_EXECUTABLE_NAMES",
], env_true = [
  "CARGO_MAKE_CI",
] }
env.OUTPUT_NAME = "${CARGO_MAKE_PROJECT_NAME}-v${CARGO_MAKE_PROJECT_VERSION}-${CARGO_MAKE_RELEASE_FLOW_TARGET}"
env.TARGET_RELEASE_DIRECTORY = "target/${CARGO_MAKE_RELEASE_FLOW_TARGET}/release"
script = '''
#!@duckscript
executable_files = array %{CARGO_MAKE_BINARY_EXECUTABLE_NAMES}

rm -r ${OUTPUT_NAME}
mkdir ${OUTPUT_NAME}
mkdir ${OUTPUT_NAME}/execs

for executable_file in ${executable_files}
    if is_windows
        executable_file = set "${executable_file}.exe"
    end
    if is_path_exists ${TARGET_RELEASE_DIRECTORY}/${executable_file}
        cp ${TARGET_RELEASE_DIRECTORY}/${executable_file} ${OUTPUT_NAME}/execs/${executable_file}
    end
end
cp ./README.md ${OUTPUT_NAME}/README.md
cp ./CHANGELOG.md ${OUTPUT_NAME}/CHANGELOG.md
glob_cp ./LICENSE* ${OUTPUT_NAME}/
# cp ./docs/ ${OUTPUT_NAME}/
# cp ./book/book/ ${OUTPUT_NAME}/
cp ./core/examples/ ${OUTPUT_NAME}/
mkdir ${OUTPUT_NAME}/routing_examples/
cp ./tch/examples/generate_input.py ${OUTPUT_NAME}/routing_examples/
cp ./tch/examples/data/ ${OUTPUT_NAME}/routing_examples/
rm ${OUTPUT_NAME}/examples/csv_example.rs
rm ${OUTPUT_NAME}/examples/parquet_example.rs
rm ${OUTPUT_NAME}/examples/unnested_parquet_example.rs

ls -l ${OUTPUT_NAME}/

if is_windows
    exec --fail-on-error powershell Compress-Archive -Path ${OUTPUT_NAME}/* -DestinationPath ${OUTPUT_NAME}.zip
else
    exec --fail-on-error zip -r ${OUTPUT_NAME}.zip ${OUTPUT_NAME}
end

rm -r ${OUTPUT_NAME}
'''

[tasks.test-examples]
description = "Runs cargo test for project examples."
category = "Test"
install_crate = false
toolchain = "${CARGO_MAKE_RUST_DEFAULT_TOOLCHAIN}"
command = "cargo"
args = ["test", "--workspace", "--examples"]

[tasks.build-flow]
dependencies = [
  "init-build-flow",
  "pre-clean",
  "delete-lock",
  "clean-apidocs",
  "clean",
  "post-clean",
  "format-flow",
  "format-toml-conditioned-flow",
  "pre-build",
  "check-format-ci-flow",
  "clippy-flow",
  "build",
  "post-build",
  "test-flow",
  "test-examples",
  "bench-ci-flow",
  "pre-verify-project",
  "verify-project",
  "post-verify-project",
  "pre-audit",
  "audit",
  "post-audit",
  "outdated-flow",
  "docs-flow",
  "end-build-flow",
]
