[env]
CARGO_MAKE_DOCS_README_FILE = "README.md"
CARGO_MAKE_DOCS_ROOT_FOLDER = "."
CARGO_MAKE_DOCS_SUB_FOLDER = ""
CARGO_MAKE_CI = true
CARGO_MAKE_RELEASE_FLOW_TARGET = "x86_64-unknown-linux-gnu"
CARGO_MAKE_PROJECT_NAME = "metrolib"
CARGO_MAKE_PROJECT_VERSION = "0.1.0"
CARGO_MAKE_BINARY_EXECUTABLE_NAME = "metropolis"
CARGO_MAKE_RUN_CHECK_FORMAT = true
CARGO_MAKE_RUN_CLIPPY = true
CARKO_MAKE_BUILD_EXAMPLES = true
CARGO_MAKE_BUILD_BENCH = true
CARGO_MAKE_RUN_BENCH = true
CARGO_MAKE_CHECK_OUTDATED = true

[tasks.format]
toolchain = "nightly"

[tasks.test]
args = [
  "test",
  "--workspace",
  "@@remove-empty(CARGO_MAKE_CARGO_VERBOSE_FLAGS)",
  "@@split(CARGO_MAKE_CARGO_BUILD_TEST_FLAGS, )",
]

[tasks.setup-release-build-env-vars]
env.CARGO_MAKE_BINARY_RELEASE_ENV_INSTALL_MUSL = false
