<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<style>
.table-sticky-head {
	overflow: auto;
	height: 600px;
}

.table-sticky-head tr.first th {
	position: sticky;
	top: 0;
	z-index: 1;
	box-shadow: inset 1px 1px #000, 0 1px #000;
}

.table-sticky-head tr.second th {
	position: sticky;
	z-index: 1;
	box-shadow: inset 1px 1px #000, 0 1px #000;
}
		</style>

		<title>METROPOLIS 2 Simulation Report</title>
	</head>
	<body>
		<h1>METROPOLIS 2 Simulation Report</h1>

		<h2>Convergence</h2>

		<div class="table-responsive table-sticky-head">
			<table class="table table-striped table-bordered table-hover table-sm">
				<thead class="thead-light">
					<tr class="first">
						<th scope="col" rowspan="2" class="text-center">Iteration</th>
						<th scope="col" rowspan="2" class="text-center">Surplus</th>
						<th scope="col" colspan="2" class="text-center">No Trip</th>
						<th scope="col" colspan="8" class="text-center">Trips</th>
						<th scope="col" colspan="22" class="text-center">Road Legs</th>
						<th scope="col" colspan="10" class="text-center">Virtual Legs</th>
						<th scope="col" colspan="2" class="text-center">Road Network</th>
					</tr>
					<tr class="second">
						<!-- CONSTANT UTILITY -->
						<th scope="col" class="text-center">#</th>
						<th scope="col" class="text-center">Mean utility</th>
						<!-- TRIPS -->
						<th scope="col" class="text-center">#</th>
						<th scope="col" class="text-center">Mean departure time</th>
						<th scope="col" class="text-center">Mean arrival time</th>
						<th scope="col" class="text-center">Mean travel time</th>
						<th scope="col" class="text-center">Mean utility</th>
						<th scope="col" class="text-center">Mean expected utility</th>
						<th scope="col" class="text-center">Mean departure-time shift</th>
						<th scope="col" class="text-center">Departure time RMSE</th>
						<!-- ROAD LEGS -->
						<th scope="col" class="text-center"># Legs</th>
						<th scope="col" class="text-center"># Trips (1+ road leg)</th>
						<th scope="col" class="text-center"># Trips (only road legs)</th>
						<th scope="col" class="text-center">Mean # road legs</th>
						<th scope="col" class="text-center">Mean departure time</th>
						<th scope="col" class="text-center">Mean arrival time</th>
						<th scope="col" class="text-center">Mean road time</th>
						<th scope="col" class="text-center">Mean in-bottleneck time</th>
						<th scope="col" class="text-center">Mean out-bottleneck time</th>
						<th scope="col" class="text-center">Mean travel time</th>
						<th scope="col" class="text-center">Mean route free-flow travel time</th>
						<th scope="col" class="text-center">Mean global free-flow travel time</th>
						<th scope="col" class="text-center">Mean route congestion</th>
						<th scope="col" class="text-center">Mean global congestion</th>
						<th scope="col" class="text-center">Mean route length (m)</th>
						<th scope="col" class="text-center">Mean edge count</th>
						<th scope="col" class="text-center">Mean utility</th>
						<th scope="col" class="text-center">Mean expected travel time</th>
						<th scope="col" class="text-center">Mean expected travel time difference (rel.)</th>
						<th scope="col" class="text-center">Mean expected travel time difference (abs.)</th>
						<th scope="col" class="text-center">Expected travel time difference RMSE</th>
						<th scope="col" class="text-center">Mean length difference (m)</th>
						<!-- VIRTUAL LEGS -->
						<th scope="col" class="text-center"># Legs</th>
						<th scope="col" class="text-center"># Trips (1+ virtual leg)</th>
						<th scope="col" class="text-center"># Trips (only virtual legs)</th>
						<th scope="col" class="text-center">Mean # virtual legs</th>
						<th scope="col" class="text-center">Mean departure time</th>
						<th scope="col" class="text-center">Mean arrival time</th>
						<th scope="col" class="text-center">Mean travel time</th>
						<th scope="col" class="text-center">Mean global free-flow travel time</th>
						<th scope="col" class="text-center">Mean global congestion</th>
						<th scope="col" class="text-center">Mean utility</th>
						<!-- ROAD NETWORK -->
						<th scope="col" class="text-center">Simulated road-network weights RMSE</th>
						<th scope="col" class="text-center">Expected road-network weights RMSE</th>
					</tr>
				</thead>
				<tbody>
					{% for it in iterations %}
					<tr>
						<td scope="row" class="text-center">{{ loop.index }}</td>
						<td class="text-center">{{ "{:.4}"|format(it.surplus.mean().0) }}</td>
						{% match it.mode_results.constant %}
							{% when Some with (constant) %}
								<td class="text-center">{{ constant.count }}</td>
								<td class="text-center">{{ constant.utility.mean() }}</td>
							{% when None %}
								<td class="text-center">0</td>
								<td class="text-center">N/A</td>
						{% endmatch %}
						{% match it.mode_results.trip_modes %}
							{% when Some with (trip_results) %}
								<!-- TRIPS -->
								<td class="text-center">{{ trip_results.count }}</td>
								<td class="text-center">{{ "{}"|format(trip_results.departure_time.mean()) }}</td>
								<td class="text-center">{{ "{}"|format(trip_results.arrival_time.mean()) }}</td>
								<td class="text-center">{{ "{}"|format(trip_results.travel_time.mean()) }}</td>
								<td class="text-center">{{ "{:.4}"|format(trip_results.utility.mean().0) }}</td>
								<td class="text-center">{{ "{:.4}"|format(trip_results.expected_utility.mean().0) }}</td>
								{% match trip_results.dep_time_shift %}
									{% when Some with (distr) %}
									<td class="text-center">{{ "{}"|format(distr.mean()) }}</td>
									{% when None %}
									<td class="text-center">N/A</td>
								{% endmatch %}
								{% match trip_results.dep_time_rmse %}
									{% when Some with (value) %}
									<td class="text-center">{{ "{}"|format(value) }}</td>
									{% when None %}
									<td class="text-center">N/A</td>
								{% endmatch %}
								<!-- ROAD LEGS -->
								{% match trip_results.road_leg %}
									{% when Some with (rlr) %}
									<td class="text-center">{{ rlr.count }}</td>
									<td class="text-center">{{ rlr.mode_count_one }}</td>
									<td class="text-center">{{ rlr.mode_count_all }}</td>
									<td class="text-center">{{ "{:.4}"|format(rlr.count_distribution.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.departure_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.arrival_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.road_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.in_bottleneck_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.out_bottleneck_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.travel_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.route_free_flow_travel_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.global_free_flow_travel_time.mean()) }}</td>
									<td class="text-center">{{ "{:.4}"|format(rlr.route_congestion.mean()) }}</td>
									<td class="text-center">{{ "{:.4}"|format(rlr.global_congestion.mean()) }}</td>
									<td class="text-center">{{ "{:.0}"|format(rlr.length.mean().0) }}</td>
									<td class="text-center">{{ "{:.2}"|format(rlr.edge_count.mean()) }}</td>
									<td class="text-center">{{ "{:.4}"|format(rlr.utility.mean().0) }}</td>
									<td class="text-center">{{ "{:.4}"|format(rlr.exp_travel_time.mean()) }}</td>
									<td class="text-center">{{ "{:.4}"|format(rlr.exp_travel_time_rel_diff.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.exp_travel_time_abs_diff.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(rlr.exp_travel_time_diff_rmse) }}</td>
									{% match rlr.length_diff %}
										{% when Some with (distr) %}
										<td class="text-center">{{ "{:.2}"|format(distr.mean().0) }}</td>
										{% when None %}
										<td class="text-center">N/A</td>
									{% endmatch %}
									{% when None %}
									{% for _ in 0..20 %}
									<td class="text-center">N/A</td>
									{% endfor %}
								{% endmatch %}
								<!-- VIRTUAL LEGS -->
								{% match trip_results.virtual_leg %}
									{% when Some with (vlr) %}
									<td class="text-center">{{ vlr.count }}</td>
									<td class="text-center">{{ vlr.mode_count_one }}</td>
									<td class="text-center">{{ vlr.mode_count_all }}</td>
									<td class="text-center">{{ "{:.4}"|format(vlr.count_distribution.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(vlr.departure_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(vlr.arrival_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(vlr.travel_time.mean()) }}</td>
									<td class="text-center">{{ "{}"|format(vlr.global_free_flow_travel_time.mean()) }}</td>
									<td class="text-center">{{ "{:.4}"|format(vlr.global_congestion.mean()) }}</td>
									<td class="text-center">{{ "{:.4}"|format(vlr.utility.mean().0) }}</td>
									{% when None %}
									{% for _ in 0..10 %}
									<td class="text-center">N/A</td>
									{% endfor %}
								{% endmatch %}
							{% when None %}
								<td class="text-center">0</td>
								{% for _ in 0..35 %}
								<td class="text-center">N/A</td>
								{% endfor %}
						{% endmatch %}
						{% match it.sim_road_network_weights_rmse %}
							{% when Some with (value) %}
							<td class="text-center">{{ "{:.4}"|format(value.0) }}</td>
							{% when None %}
							<td class="text-center">N/A</td>
						{% endmatch %}
						{% match it.exp_road_network_weights_rmse %}
							{% when Some with (value) %}
							<td class="text-center">{{ "{:.4}"|format(value.0) }}</td>
							{% when None %}
							<td class="text-center">N/A</td>
						{% endmatch %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" id="surplus-tab" data-toggle="tab" href="#surplus" role="tab">Surplus</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="road_count-tab" data-toggle="tab" href="#road_count" role="tab">Road Count</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="road_congestion-tab" data-toggle="tab" href="#road_congestion" role="tab">Road Congestion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="road_mean_departure_time-tab" data-toggle="tab" href="#road_mean_departure_time" role="tab">Road Mean Departure Time</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="road_expect-tab" data-toggle="tab" href="#road_expect" role="tab">Road EXPECT</a>
			</li>
		</ul>

		<div class="tab-content" id="convergenceCharts">
			<div class="tab-pane fade show active" id="surplus" role="tabpanel">
				<div id="surplusChart" style="height: 600px; width: 1000px"></div>
			</div>
			<div class="tab-pane fade" id="road_count" role="tabpanel">
				<div id="roadCountChart" style="height: 600px; width: 1000px"></div>
			</div>
			<div class="tab-pane fade" id="road_congestion" role="tabpanel">
				<div id="roadCongestionChart" style="height: 600px; width: 1000px"></div>
			</div>
			<div class="tab-pane fade" id="road_mean_departure_time" role="tabpanel">
				<div id="roadMeanDepartureTimeChart" style="height: 600px; width: 1000px"></div>
			</div>
			<div class="tab-pane fade" id="road_expect" role="tabpanel">
				<div id="roadExpectChart" style="height: 600px; width: 1000px"></div>
			</div>
		</div>

		<h2>Last Iteration</h2>

		<div id="roadDepartureTimeHist" style="height: 600px; width: 1000px"></div>

		<div id="roadArrivalTimeHist" style="height: 600px; width: 1000px"></div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>

		<script>
			const data = {{iterations|json|safe}};

			var road_departure_times = {{last_iteration.road_departure_times|json|safe}};
			var road_arrival_times = {{last_iteration.road_arrival_times|json|safe}};

			$(document).ready(function() {
							var firstHeight = $('.first').height();
							$("thead tr.second th").css("top", firstHeight)
						});

			var iters = [];
			var surplus = [];
			var road_count = [];
			var road_congestion = [];
			var road_mean_departure_time = [];
			var road_expect = [];
			for (let i = 0; i < data.length; i++) {
				iters.push(i + 1);
				surplus.push(data[i].surplus.mean);
				road_count.push(data[i].mode_results.trip_modes.count);
				road_congestion.push(data[i].mode_results.trip_modes.road_leg.route_congestion.mean);
				var t = new Date(0);
				t.setSeconds(data[i].mode_results.trip_modes.departure_time.mean);
				road_mean_departure_time.push(t.toISOString());
				road_expect.push(data[i].mode_results.trip_modes.road_leg.exp_travel_time_rel_diff.mean);
			}

			var surplus_trace = {
							x: iters,
							y: surplus,
							type: 'scatter'
						};
			Plotly.newPlot('surplusChart', [surplus_trace]);

			var road_count_trace = {
							x: iters,
							y: road_count,
							type: 'scatter'
						};
			var layout = {
							yaxis: {
											rangemode: "tozero"
										}
						};
			Plotly.newPlot('roadCountChart', [road_count_trace], layout);

			var road_congestion_trace = {
							x: iters,
							y: road_congestion,
							type: 'scatter'
						};
			var layout = {
							yaxis: {
											rangemode: "tozero",
											tickformat: ".2%"
										}
						};
			Plotly.newPlot('roadCongestionChart', [road_congestion_trace], layout);

			var road_mean_departure_time_trace = {
							x: iters,
							y: road_mean_departure_time,
							type: 'scatter'
						};
			var layout = {
							yaxis: {
											tickformat: "%H:%M:%S"
										}
						};
			Plotly.newPlot('roadMeanDepartureTimeChart', [road_mean_departure_time_trace], layout);

			var road_expect_trace = {
							x: iters,
							y: road_expect,
							type: 'scatter'
						};
			var layout = {
							yaxis: {
											rangemode: "tozero",
											tickformat: ".2%"
										}
						};
			Plotly.newPlot('roadExpectChart', [road_expect_trace], layout);

			road_departure_times = road_departure_times.map(function(v) {
							var t = new Date(0);
							t.setSeconds(v);
							return t.toISOString();
						});
			var road_departure_times_trace = {
							x: road_departure_times,
							type: 'histogram',
								histnorm: 'probability',
						};
			var layout = {
							title: "Departure times distribution",
							xaxis: {
											tickformat: "%H:%M:%S"
										}
						};
			Plotly.newPlot('roadDepartureTimeHist', [road_departure_times_trace], layout);

			road_arrival_times = road_arrival_times.map(function(v) {
							var t = new Date(0);
							t.setSeconds(v);
							return t.toISOString();
						});
			var road_arrival_times_trace = {
							x: road_arrival_times,
							type: 'histogram',
								histnorm: 'probability',
						};
			var layout = {
							title: "Arrival times distribution",
							xaxis: {
											tickformat: "%H:%M:%S"
										}
						};
			Plotly.newPlot('roadArrivalTimeHist', [road_arrival_times_trace], layout);
		</script>
	</body>
</html>
