name: Publish
permissions:
  contents: write
on:
  push:
    tags:
      - '[0-9]+.*'
env:
  PKG_CONFIG_SYSROOT_DIR: /
jobs:
  release:
    name: Create a GitHub Release
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.create-release.outputs.id }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Create release
      id: create-release
      uses: ncipollo/release-action@v1
  build:
    needs: release
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            binary_target: x86_64-unknown-linux-musl
          - os: windows-latest
            binary_target: x86_64-pc-windows-msvc
          - os: macos-latest
            binary_target: x86_64-apple-darwin
    steps:
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: Install MUSL tools
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install -y musl-tools
    - name: Install Tauri dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref_name }}
    - name: Install rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ matrix.binary_target }}
        profile: minimal
        override: true
    - name: Install cargo tools
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-make, mdbook
    - name: Build Binary
      uses: actions-rs/cargo@v1
      with:
        command: make
        args: --env CARGO_MAKE_RELEASE_FLOW_TARGET=${{ matrix.binary_target }} zip-release-ci-flow
    - name: Upload Binaries
      uses: svenstaro/upload-release-action@v2
      with:
        file: '*.zip'
        overwrite: true
        file_glob: true
    - uses: tauri-apps/tauri-action@v0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        releaseId: ${{ needs.release.outputs.release_id }}
        args: --target ${{ matrix.binary_target }}
