name: Publish
permissions:
  contents: write
on:
  push:
    tags:
      - '[0-9]+.*'
jobs:
  release:
    name: Create a GitHub Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref_name }}
    - name: Create Release from Changelog
      uses: taiki-e/create-gh-release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        changelog: CHANGELOG.md
  build:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            binary_target: x86_64-unknown-linux-musl
          - os: windows-latest
            binary_target: x86_64-pc-windows-msvc
          - os: macos-latest
            binary_target: x86_64-apple-darwin
    steps:
    - name: Install MUSL tools
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install musl-tools
    - name: Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref_name }}
    - name: Install rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true
    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install rust windows msvc target
      if: matrix.os == 'windows-latest'
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable-x86_64-pc-windows-msvc
        profile: minimal
        override: true
    - name: Install cargo-make
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: --debug cargo-make
    - name: Install mdbook
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: mdbook --no-default-features --features search
    - name: Build Binary
      uses: actions-rs/cargo@v1
      with:
        command: make
        args: --env CARGO_MAKE_RELEASE_FLOW_TARGET=${{ matrix.binary_target }} zip-release-ci-flow
    - name: Upload Binaries
      uses: svenstaro/upload-release-action@v2
      with:
        file: '*.zip'
        overwrite: true
        file_glob: true
